{% extends "_template.html" %}
{% block title %}Training Wheels{% endblock %}
{% block head %}
  <h1>TRAINING WHEELS</h1>
  <p>Google App Engine for the regular Joe</p>
{% endblock %}
{% block navigation %}
<li><a href="./index.djhtml">MAIN PAGE</a></li>
<li><a href="./stage0.djhtml">STAGE 0</a></li>
<li><a href="./stage1.djhtml">STAGE 1</a></li>
<li><a href="./stage2.djhtml">STAGE 2</a></li>
<li><a href="./stage3.djhtml">STAGE 3</a></li>
<li><a href="./stage4.djhtml">STAGE 4</a></li>
<li><a href="./downloads.djhtml">DOWNLOADS</a></li>
{% endblock %}
{% block content %}
If you can read this, it means the content still needs to be filled out.
{% endblock %}
{% block downloadbox %}
<script type="text/javascript"><!--
google_ad_client = "pub-9564289347835788";
/* TrainingWheelsAd */
google_ad_slot = "4746133655";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endblock %}
{% block copyright %}
Training Wheels brought to you by <a href="http://www.appenginefan.com">appenginefan.com</a>.<br/>
This free template was downloaded from 
<a href="http://www.freewebsitetemplates.com/download.php?template=transport">freewebsitetemplates.com</a>
{% endblock %}

