<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{% block title %}Transport template{% endblock %}</title>
	<link rel="stylesheet" href="static/style.css" type="text/css" charset="utf-8" />
	
</head>

<body>

  <div id="outer">
    <div id="wrapper">
      <div id="body-bot">
        <div id="body-top">
          <div id="logo">
            {% block head %}
            <h1>TRANSPORT COMPANY</h1>
            <p>We care about your cargo</p>
            {% endblock %}
          </div>
          <div id="nav">
            <ul>
              {% block navigation %}
              <li><a href="http://www.freewebsitetemplates.com">MAIN PAGE</a></li>
              <li><a href="http://www.freewebsitetemplates.com">TRACKING</a></li>
              <li><a href="http://www.freewebsitetemplates.com">RATES</a></li>
              <li><a href="http://www.freewebsitetemplates.com">PICK UP</a></li>
              <li><a href="http://www.freewebsitetemplates.com">SERVICES</a></li>
              <li><a href="http://www.freewebsitetemplates.com">CONTACT US</a></li>
              {% endblock %}
            </ul>
            <div class="clear"> </div>
          </div>
          <div id="gbox">
            <div id="gbox-top"> </div>
            <div id="gbox-bg">
              <div id="gbox-grd">
                {% block content %}
                <h2>WELCOME TO OUR TRUCK TRACKING COMPANY</h2>
				
                <p>Don't forget to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add  a new free website template almost daily.</p>
          <p>You can remove any link to our websites from this template you're free to use the template without linking back to us.</p>
                <p>This is just a place holder so you can see how the site would look like.</p>

<p>This is a template designed by free website templates for you for free you can replace all the text by your own text.</p>
                <div id="features">
                  <h2>FEATURED SERVICES</h2>
                  <ul>
                    <li><a href="http://www.freewebsitetemplates.com">Free Website Templates</a></li>
					<li><a href="http://www.freewebsitetemplates.com/forum/">The forum</a></li>
                    <li><a href="http://www.justwebtemplates.com">Just Web Templates</a></li>
                    <li><a href="http://www.templatebeauty.com">Template Beauty</a></li>
                    
                  </ul>
                  <ul>
				  	<li><a href="http://www.templatebeauty.com">Template Beauty</a></li>
                    <li><a href="http://www.freewebsitetemplates.com">Free Website Templates</a></li>
					<li><a href="http://www.freewebsitetemplates.com/forum/">The forum</a></li>
                    <li><a href="http://www.justwebtemplates.com">Just Web Templates</a></li>
                  </ul>
                  <div class="clear"> </div>
                </div>
                
                <div id="newsletter">
                  <h2>NEWSLETTER</h2>
                  <form action="" method="get" accept-charset="utf-8">
                    <input type="text" class="text" name="q" value="" id="some_name" />
                    <input type="submit" value="go">
                  </form>
                  <p><a href="http://www.freewebsitetemplates.com">Click here for details</a></p>
                </div>
                <div id="events">
                  <h2>FEATURED EVENTS</h2>
                  <ul>
                    <li><a href="http://www.templatebeauty.com">Template Beauty</a></li>
                    <li><a href="http://www.freewebsitetemplates.com">Free Website Templates</a></li>
					<li><a href="http://www.freewebsitetemplates.com/forum/">The forum</a></li>
                    <li><a href="http://www.justwebtemplates.com">Just Web Templates</a></li>
                  </ul>
                </div>
                {% endblock %}
                <div class="clear"> </div>
                
              </div>
            </div>
            <div id="gbox-bot"> </div>
          </div>
          <div id="greybox">
            <div id="greybox-bot">
              <div id="greybox-top">
                {% block downloadbox %}
                <h2>MOST CONVINEIANT & RELIABLE TRANSPORT SERVICES</h2>
                <p><a href="http://www.freewebsitetemplates.com">Click here for details</a></p>
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="copyright">
    {% block copyright %}
    &copy; Copyright information goes here. All rights reserved.
    {% endblock %}
  </div>

</body>
</html>
