Package: pomni
Version: 0.2.0~beta1
Architecture: all
Maintainer: Ed Bartosh <bartosh@gmail.com>
Installed-Size: 1484
Depends: python2.5, python2.5-gtk2, python-libmnemosyne (>= 2.0.0-9)
Section: user/education
Description: Learning tool based on spaced repetition technique
 This is mobile version of Mnemosyne software
 It resembles a traditional flash-card program to help you
 memorise question/answer pairs, but with an important twist: it uses a
 sophisticated algorithm to schedule the best time for an item to come up for
 review. Difficult items that you tend to forget quickly will be scheduled more
 often, while Mnemosyne won't waste your time on things you remember well.
Maemo-Display-Name: Pomni
Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/
 AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2QMVERsOiugV
 4AAABSxJREFUSMftlllsVAUUhv+7zJ17b2fmdtqZtrQUhs6UQktLYwFbVkFL
 pUKiNhAJJiSSUKPGB2LUF6PvxkQT3iTamDQkRkCNLGUREaYtLV0o0I1OS5fp
 tJ3O1jvL3a8P4gPRoCaaGMP/eh6+c5Jz/v8AT/RfF/G4YtfJZux7q5VajKcF
 0zR5zkqbumEWlXlcWx02q2UhkrpAkoTscvJ5VoaekGQtdKN3UvtbIIoivbkC
 92KFL+9ZSdZ8myqLhIlgnJyYiTF2nslq2OIjJUWXgvMJfWNlEe5PRuNTocSJ
 VEY57inMjnx+qufxIAtNubLt1mON28sO7Nq0ynMvsEBlcRZQbBL5xQp8ZRyW
 FXIITEi41Smhq1OEp8CJg41VSKZV/WL7WM/F9sDrd8fm+x5p/FEI6d1W4zm9
 d/vqPYqmFyzGM6ShmxgPBfHO23Y8VW1DYYEVDgcNj4dD7VYHKFbDvdsSUikF
 VoYml+c7CnnWUhtdypyJxNOp34EoisytLM3/sm598ebpuQTfvH8jYWUodNye
 xpoSOzZUmchkdHzxlQj/dQX3hhLwrmJQXS3g5q0oSJVHW3sAum4S9XW+vP6R
 uWILTQYJgghmJBXkbyDGQh11Orgd+bk2WrCzoEgS0UQGDVt8cGc7kYhJoA0N
 6SUGOyqrUOaswulTC4CiYV0Fj121XjTVlyMjKaAogvzojZ0Hm+orLqmqvhUA
 aACwWChi07qiI8cOb2acDhaB6SimQ3E8XVUMVdMxPB5GLCyjwElhcnYOP3Xx
 mAjGsWu3CUNRIac10HYS5d48WGgSNE2BZWjkCLytwpfX9Nn7jTdoAKApckO5
 1124GEsiHBURmI7Clc2ie3AWUkaB3WZFdpaCshU0itwEfuweRsMOHo3b8yCJ
 CtrbRVirwwiGRTRs9oGiSPQMzkJMScgR2I0t3/b9OpFpmh6nnSMudwSg6QZy
 BA63R+ZxaO96nL9xH92Ds8jhVBiSBYdf4PDqXgruPCt0SUXLqQh0mUebfwxr
 SlwILYqYDiWg6gbsWQwUVTcudQYeggxTNwzDbNq9DldujmN/fQXO/jyKO6Nz
 OPJyDSRZQ0fXJRiSAoeFgqiY6BtQ0HoujeK8Urz5Shna/PcxMRNFLJFGOC4h
 R+CQEDPGyIPItalQwny4dUScIHC00JXFZTs4LCUl9A/PQdcNPJiNYTGWQiwW
 Q91qHcEFDSfO2kGSJWBoJzoHZmDnGTyzaRUehBKw0JRZ4XUTCTGjdQwEzwg2
 5r3QYlKmAUA3jNDA6PyHum58XOF1s+MzMezbuRahsAjGQiEuKhialGHIQIGd
 Qu9gBIpmxXO1PqwoEHC5M4CyVW6wDG18d3W4RdeNYTEt97gE/nrv0Jz6yB3J
 qt6bltV4XJTrVxZmk2JKRjiahKLoWOayYWQygd0VGTCUiTszVrC8gKWkBN/K
 XGSxFkyF4uYP10bHszjL4ee3eC9c8AcmFqIp44+cwfj++KE+f9/UxvISV+n2
 Gg+21XjgcvK4MzYPwWZFDrWAAoFAx1By4Upv8ptQWMwNTEXY+5OR9NXuB91i
 Wj5ybyw86u+f/nNT3bO1tHgqFG+tW79829oSN3IEHpKsob1/ErnmCA7UUfj0
 vHb+a7+6b5nbxsVFuYokiLTTwd6dmV/S/nJMdJ1sxmsfnHHKiv6uYGcOZdtY
 Prok5eQKLLEYS11KiYutk2HjnKwi/I/kUdfJZgIA+UmLf1kimRlJS2oPxzIv
 tfnHIv9KMlIkkeV0sK1uJ7/8yZ/w/9Yvs7Ngl5ZMDbgAAAAASUVORK5CYII=
 ====
